[user]
    email = william.hleucka@gmail.com
    name = William Hleucka
[init]
    defaultBranch = main
[push]
    autoSetupRemote = true
[color]
    branch = always
    diff = always
    interactive = always
    status = always
    ui = always
