#!/usr/bin/env zsh
fg() {
    if [[ $# -eq 1 && $1 = - ]]; then
        builtin fg %-;
    elif [[ "$*" =~ ^[0-9]+$ ]]; then
        builtin fg %"$*";
    else
        builtin fg "$@";
    fi
}

what() {
    curl cheat.sh/$1;
}

stow-update() {
    current=$(pwd)

    printf "One moment...\n\n"
    sleep 1

    printf "Fetching nightly build of neovim\n"
    mkdir -p ~/.neovim
    cd ~/.neovim
    rm -rf nvim-linux64
    rm -rf nvim-linux64.tar.gz
    wget https://github.com/neovim/neovim/releases/download/nightly/nvim-linux64.tar.gz
    tar -xvzf nvim-linux64.tar.gz

    stow_dir=$HOME/stow-dotfiles
    stow_dir_hidden=$HOME/.stow-dotfiles

    printf "Pulling stow-dotfiles...\n\n"
    if [ -d "$stow_dir" ]; then
        cd $stow_dir;
        git checkout ~/stow-dotfiles/nvim/.config/nvim/lazy-lock.json;
    elif [ -d "$stow_dir_hidden" ]; then
        cd $stow_dir_hidden;
        git checkout ~/.stow-dotfiles/nvim/.config/nvim/lazy-lock.json;
    fi;

    git pull -v;

    cd $current;

    printf "\n\nUpdating neovim...\n\n"
    nvim --headless "+Lazy! update" +UpdateRemotePlugins +TSUpdate +qa

    printf "\n\nUpdate complete!\n"
}
