#!/usr/bin/env zsh
fg() { 
    if [[ $# -eq 1 && $1 = - ]]; then
        builtin fg %-;
    elif [[ "$*" =~ ^[0-9]+$ ]]; then
        builtin fg %"$*";
    else
        builtin fg "$@";
    fi
}

batdiff() {
    git diff --name-only --relative --diff-filter=d | xargs bat --diff;
}

what() {
    curl cheat.sh/$1;
}

nvim-update() {
    current=$(pwd)
    neovim_dir=$HOME/.neovim-config/astro/
    user_dir=$HOME/.neovim-config/astro/.config/nvim/lua/user/

    cd $neovim_dir;
    git pull -v;

    cd $user_dir;
    git pull -v;

    cd $current;

    nvim +AstroUpdate +qa

    printf "Done!\n"
}

music() {
    music_list=/tmp/music-list

    if [ ! -f "$music_list" ]; then
        printf "Fetching music list...\n"
        ssh fsociety -- "find /mnt/data/Music -type f \( -name \"*.mp3\" -o -name \"*.flac\" -o -name \"*.ogg\" -o -name \"*.wav\" -o -name \"*.m4a\" \)" > "$music_list"
        printf "Done...\n"
    fi;

    selected=$(cat "$music_list" | fzf)

    if [ ! -z "$selected" ]; then
        mpv "sftp://fsociety:$selected"
    else:
        printf "See you next time!"
    fi;
    
}
