#!/usr/bin/env zsh
fg() { 
    if [[ $# -eq 1 && $1 = - ]]; then
        builtin fg %-;
    elif [[ "$*" =~ ^[0-9]+$ ]]; then
        builtin fg %"$*";
    else
        builtin fg "$@";
    fi
}

batdiff() {
    git diff --name-only --relative --diff-filter=d | xargs bat --diff
}
