#!/usr/bin/env zsh
fg() { 
    if [[ $# -eq 1 && $1 = - ]]; then
        builtin fg %-;
    elif [[ "$*" =~ ^[0-9]+$ ]]; then
        builtin fg %"$*";
    else
        builtin fg "$@";
    fi
}

kt() {
  kitty --session ~/.kitty-sessions/$1.conf &
}

batdiff() {
    git diff --name-only --relative --diff-filter=d | xargs bat --diff;
}

dy() {
    $(which dig) +noall +answer +additional "$1" @dns.toys; 
}

wallpaper() {
    feh --randomize --bg-fill ~/Pictures/Wallpapers/*
}
